@model IEnumerable<Voorraadsysteem_ToolsForEver.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Medewerker accounts overzicht</h2>

<p>
    @Html.ActionLink("Nieuwe gebruiker toevoegen", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedewerkersCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voorletters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voorvoegsels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedewerkersCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voorletters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voorvoegsels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }
</table>