@model IEnumerable<Voorraadsysteem_ToolsForEver.Models.Fabrikant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FabrikantId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FabrikantId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FabrikantId })
            </td>
        </tr>
    }
</table>